*, *::before, *::after {
    box-sizing: border-box;
  }
  


:root{
    --background-color: #EFD9D5;
    --backgorund-color2: #A78271;
    --cor-da-letra: #ffff;
    --vermelho: #FF0000;
    --verde: #00FF00;
    --azul: #0000FF;
    --cinza: #808080;
    --preto: #0000;

}



h1, h2, h3, p, a, span{
    color: var(--cor-da-letra);
    background-color: var(--backgorund-color2);
    padding: 1rem;
}

*{
    background-color: var(--background-color);
}


header{
    width: 100%;
    margin: 1rem;
    padding: 2.0rem;
    align-items: center;
}

header a{
    background-color: var(--backgorund-color2) ;
    font-size: 2.5rem;
    width: 100%;
    padding-right: 2rem;
}

.cardapio {
    width: 100%;
}

.cardapio h1{
    font-size: 3.8rem;
}

.cardapio h2{
    font-size: 2.5rem;
}

.cardapio p{
    font-size: 1.5rem;
}

.cardapio img{
    margin-top: 2rem;
}

.cardapio a:hover{
    background-color: var(--background-color);
}


/* media queries */

@media (min-width: 0px ){
    
    /* header{
        background-color: var(--cinza);
    } */
    .imagem-capa, img{
        width: 100%;
    }
    .cardapio img{
        width: 80%;
    }


}


@media (min-width: 576px){

    /* header{
        background-color: var(--verde);
    } */
    .cardapio img{
        width: 50%;
    }
}


@media (min-width: 768px){

    /* header{
        background-color: var(--vermelho);
    } */
    .cardapio img{
        width: 50%;
    }
}


@media (min-width: 992px){

    /* header{
        background-color: var(--azul);
    } */
    .cardapio img{
        width: 50%;
    }
}


@media (min-width: 1200px){

    header{
        background-color: var(--preto);
    }
    .cardapio img{
        width: 30%;
    }
}

img, .imagem-capa, section, div {
    max-width: 100%;
    box-sizing: border-box;
  }
  

